body, html{
    margin: 0px;
    height: 100%;
    overflow: hidden;
}
#main{
}
.fill-height{
    height: 100%;
}
.noselect{
    -webkit-user-select: none;
}

#search-bar {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.list {
    background-color: #EFEFEF !important;
}
.list > div:first-child{
    -webkit-user-select: none;
}

.inline{
    display: inline-block;
    vertical-align: top;
}
.left{
}
.right{
    float: right;
}
#entry-list{
    padding-top: 0px !important;
}
#entry-selector{
    border-right: solid 1px #d9d9d9;
    min-width: 250px;
    max-width: 390px !important;
}
#library-nav{
    border-right: solid 1px #d9d9d9;
    min-width: 250px !important;
    height: 100%;
    min-height: 100%;
}
#nblist{
    padding-bottom: 0px !important;
}
#notebook-list{
    overflow-y: auto;
}
