body, html{
    margin: 0px;
    height: 100%;
    overflow: hidden;
}
#main{
}
.fill-height{
    height: 100%;
}
.noselect{
    -webkit-user-select: none;
}

.list > div:first-child{
    -webkit-user-select: none;
}

.inline{
    display: inline-block;
    vertical-align: top;
}
.left{
}
.right{
    float: right;
}
#library-nav{
    border-right: solid 1px #d9d9d9;
    width: 300px;
    height: 100%;
    min-height: 100%;
}
#nblist{
    padding-bottom: 0px !important;
}
#notebook-list{
    overflow-y: auto;
}
